.mt-n14 {
  margin: -14px 0 0 0;
}

.w-fit-content{
  width: -moz-fit-content;
  width: fit-content;
}

.bg-clip-padding-box{
  background-clip: padding-box;
}

.focus-outline-none:focus-visible {
  outline: none;
}

.before-z-index-2::before {
  z-index: 2;
}

// text style
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon {
  &-wght-300 .material-symbols-outlined{
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
  };
  &-fill-1 .material-symbols-outlined{
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }
}

// img style
.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.object-position-top {
  object-position: left top;
}

// gradient style
.gradient-line {
  &::before{
  content: "";
  display: block;
  background-image: $gradient;
  }
  &-14::before {
    width: 100%;
    height: 14px;
  }
  &-4::before {
    width: 100%;
    height: 4px;
  }
  &-8::before {
    width: 100%;
    height: 8px;
  }
  &-2::before {
    width: 100%;
    height: 2px;
  }
  &-0::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    opacity: 0;
  }
  &-90::before {
    width: 90%;
    opacity: 1;
    transition: all .5s;
  }
}

.gradient-border {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; 
    background: $gradient border-box;
    -webkit-mask:
      linear-gradient(#fff, #fff) padding-box, 
      linear-gradient(#fff, #fff) border-box;
    mask: 
      linear-gradient(#fff, #fff) padding-box, 
      linear-gradient(#fff, #fff) border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  &-1::before {
    border: 1px solid transparent;
  }
  &-2::before {
    border: 2px solid transparent;
  }
  &-3::before {
    border: 3px solid transparent;
  }
  &-7::before {
    border: 7px solid transparent;
  }
}

// node_modules/bootstrap/scss/mixins/_buttons.scss
// node_modules/bootstrap/scss/_buttons.scss
.btn-outline-primary, 
.btn-outline-secondary {
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.btn-primary, .btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #fff;
}

// interactive effects & filter
.backdrop-blur-2{
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.rotate-90{
  transform: rotate(90deg)
}

.transition-all-3 {
  transition: ease-in-out all .3s;
}

.transition-all-5 {
  transition: ease-in-out all .5s;
}

.transition-transform-3 {
  transition: ease-in-out transform .3s;
}

@media (any-hover: hover){
  .hover-animation:hover .translate-y-n100 {
    transform: translateY(-100%);
  }
  .hover-animation:hover .scale-11 {
    transform: scale(1.1);
  }
}

@media (any-hover: none){
  .bottom-fixed-0{
    bottom: 0;
  }
  .touched .translate-y-n100 {
    transform: translateY(-100%);
  }
}

.btn-primary-white-bg {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bd-primary-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-bg);
}

@keyframes custom-toast-show {
  0% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.custom-toast-show {
  animation: custom-toast-show .5s;
}